
<h1>HDB Resale Data</h1>
Delay {{delayMS}} ms
<br><br>
Combined Records: {{combinedRecords()}}
<br><br>







@if (apiResponse() === undefined) {
  <p>Loading...</p>
} 
@else {
  @for (item of apiResponse()?.data?.collectionMetadata?.childDatasets || []; track item) {
    <div>
      <!-- <h3>{{ item }}</h3> -->
    </div>
  }
}

@if (apiChildResponse() === undefined) {
  <p>Loading...</p>
} 
@else {
  @for (item of apiChildResponse()?.result?.fields || []; track item) {
    <div>
      <h3>{{ item.id }} | {{ item.type }}</h3>
    </div>
  }
  Dataset Id: <b>{{ apiChildResponseRecordDatasetId() }}</b> has <b>{{ apiChildResponseRecordArray()?.length }}</b> records
}

<!--
<div>
  <input
    type="text"
    placeholder="Search..."
    (input)="onSearch($event)"
  />
</div>
-->

<div class="content" style="width: 100%; height: 100%;">
  <!-- The AG Grid component, with Dimensions, CSS Theme, Row Data, and Column Definition -->
  <ag-grid-angular style="width: 100%; height: 500px;"
    [rowData]="rowData()"
    [columnDefs]="colDefs"
    [defaultColDef]="defaultColDef"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector"
    [paginationPanels]="paginationPanels"
    [paginationNumberFormatter]="paginationNumberFormatter"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>

</div>

<br><br>
<h1>HDB Property Information</h1>
Total HDB Property Info: {{totalHdbPropertyInfo()}}
<br><br>
<div class="content" style="width: 100%; height: 100%;">
  <!-- The AG Grid component, with Dimensions, CSS Theme, Row Data, and Column Definition -->
  <ag-grid-angular style="width: 100%; height: 500px;"
    [rowData]="rowHdbPropertyInfoData()"
    [columnDefs]="colDefHdbPropertyInfoData"
    [defaultColDef]="defaultColDef"
    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector"
    [paginationPanels]="paginationPanels"
    [paginationNumberFormatter]="paginationNumberFormatter"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>

</div>

<br><br>

<app-map></app-map>


